<div class="wrapper" (mouseenter)="onHover = true" (mouseleave)="onHover = false">
    <div class="wrapforanimation" *ngIf="onHover" appSquareDirective></div>
    <div class="box">
        <ng-container [ngSwitch]="onHover">

            <ng-container *ngSwitchDefault>

                <ng-content select=".box--fullHidden"></ng-content>

            </ng-container>
            <ng-container *ngSwitchCase="true">
                <ng-content select=".box--full"></ng-content>

            </ng-container>
        </ng-container>



    </div>
</div>