.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;

  .box--full {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(16, 158, 224);
    text-align: center;

    border: 2px solid white;
    .box--full--ashe {
      position: absolute;
      top: 0px;
      right: -50px;
      width: 100%;
      height: 100%;
      img {
        width: 150%;
      }
    }

    .box--full--desc {
      padding-bottom: 20px;
      p {
        text-align: center;
        color: rgb(255, 255, 255);
      }
    }
  }

  .animate-Hero {
    animation: ashe 1s ease-out;
    animation-fill-mode: forwards;
  }

  .box--fullHidden {
    z-index: 10;
    width: 100%;
    height: 100%;
    .box--fullHidden--upper {
      position: relative;
      height: 75%;
      width: 100%;
      background-color: #2e3255;
      border-top: 3px rgba(0, 0, 0, 0.279) solid;
      border-left: 3px rgba(0, 0, 0, 0.237) solid;
      border-right: 3px rgba(0, 0, 0, 0.349) solid;
      border-radius: 5px 5px;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    .box--fullHidden--bottom {
      z-index: 10;
      position: relative;
      height: 25%;
      width: 100%;
      background-color: whitesmoke;

      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;
      border-bottom: 3px rgba(0, 0, 0, 0.279) solid;
      border-left: 3px rgba(0, 0, 0, 0.237) solid;
      border-right: 3px rgba(0, 0, 0, 0.349) solid;
      border-radius: 0px 0px 5px 5px;
    }
  }
}
h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
p {
  text-align: center;
  color: rgb(100, 100, 100);
  display: block;
  justify-self: flex-end;
  font-weight: 400;
}
.wrapper {
  position: relative;
  margin-right: 20px;
  width: 250px;
  height: 400px;
  .outside-animation {
    position: absolute;

    width: 100px;
    height: 100px;
    border: 2px solid white;
    z-index: 0;
  }
}

@keyframes ashe {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 150%;
    height: 150%;
  }
}
@media only screen and (max-width: 1100) {
  .wrap {
    display: flex;
    // height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1600px) {
  .wrap {
    display: flex;
    // height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
